:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.sl-overlay {
  background: #03001b !important;
}

.feedback-form {
  border-radius: 8px;
  border: 1px solid #d3d9f5;
  padding: 24px;
  width: 408px;
  height: 296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 243, 247);
}

.label {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom:  8px;
}

.email {
  font-family: "Montserrat", sans-serif;
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 0 10px;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border 0.2s linear;
}

.message{
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  max-width: 100%;
  height: 80px;
  padding: 10px 10px;
  margin: 8px 0 16px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  resize: none;
  transition: border 0.2s linear;
}

.btn-sbm {
  align-self: flex-start;
  margin-left: 15px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background 0.2s linear;
}

.btn-sbm:hover {
background: #6c8cff;
}

.email:hover,
.message:hover {
  border: 1px solid #000;
}

.email:focus,
.message:focus {
  outline: none;
  border: 1px solid #808080; 
}