.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1128px;
    padding: 0;
}

.gallery-item {
    list-style: none;
    width: 360px;
    height: 200px;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
    transition: transform 150ms linear;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
}